$calendar-padding: 10px;
$day-size: 100px;
$day-gap: 1px;
$week-width: $day-size * 7 + $day-gap * 6 + $calendar-padding * 2;
$start-day: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);

.calendar {
  display: flex;
  gap: $day-gap;
  flex-wrap: wrap;
  width: $week-width;
  padding: $calendar-padding;

  &__day {
    width: $day-size;
    height: $day-size;
    background-color: $gray;
    border: 1px solid $black;
    position: relative;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transition-property: background-color, transform;

    &:hover {
      background-color: $accent;
      transform: translateY(-20px);
    }

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @for $i from 1 through 31 {
      &:nth-child(#{$i}) {
        &::before {
          content: '#{$i}';
        }
      }
    }
  }

  @each $day, $count in $start-day {
    &--start-day--#{$day} .calendar__day:first-child {
      margin-left: $count * ($day-size + $day-gap);
    }
  }

  @for $i from 28 through 31 {
    &--month-length--#{$i} {
      .calendar__day:nth-child(n + #{$i + 1}) {
        display: none;
      }
    }
  }
}
